body {margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: sans-serif;
}

h1 {margin-top: 0;
    font-family: FreeMono, monospace;
    background-color: #1D7373;
    padding: 10px; text-align: center;
    font-size: 75px;
}
.block{display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;}

img{width: 500px;
height: 300px;

}

.text{font-size: 45px;
    color: #240672;
    font-weight: 900;
    font-family: FreeMono, monospace;
    position: relative;
    top: 70px;
    padding: 20px;
    border-radius: 30px;
width: 350px;
background-color: #FF8C00;}
p{
    font-size: 20px; background-color: #FF9640;color: }
    
a {background-color: #FF8C00;color: #240672;	;text-decoration: none;font-size: 17px;
padding: 10px 15px;border-radius: 25px;
font-weight: 900;
}
body{background-color: #34D0B6	}

footer{background-color: #1D7373;;
    color: #240672;
padding: 15px;
position: fixed;
width: 100%;
bottom: 0px;}

footer p{padding: 10px;
border-radius: 15px;
font-weight: 900;}

